.products-lists {
    margin-top: 2px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list {
    list-style: none;
    color: black;
    margin-top: 1px;
    width: 300px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 7px;
    border: 1px solid rgb(101, 99, 99);
    margin-left: 0px;
}

.img {
    margin-top: auto;
    margin-bottom: auto;
    width: 230px;
    align-self: center;
}

.details {
    padding: 10px;
    width: 100%;
}

.title {
    color: black;
    font-size: 15px;
}

.s {
    text-decoration: underline;
    color: gray;
}

.des {
    color: rgb(90, 88, 88);
    font-size: 12px;
    text-align: center;
}

.d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heart {
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
}

.hearted {
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 600px) {
    .list {
        width: 190px;
        height: 400px;
    }

    .img {
        width: 170px;
    }

    .des {
        text-align: left;
    }
    
}

@media screen and (min-width: 880px) {
    .list {
        width: 275px;
    }

    .des {
        text-align: left;
    }
}
